.display {
    border: 4px solid white;
    margin: 0 3%;
    padding: 10px;
}
.title {
    color: white;
    display: table;
    padding: 5px;
    margin: -35px 0 0px;
    font-size: 30px;
    background-color: black;
    font-family: 'Press Start 2P', cursive;

}
.row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    /* line-height: 1.6; */
}

.cell {
    height: 15px;
    width: 15px;
    /* font-family: 'Press Start 2P', cursive; */
}

.alive {
    /* background-color: #1fc001; */
    background-color: #76c442;
    /* background-color: #92cc41; */
    color: black;
    /* font-size: 5px; */
}

.dead {
    background-color: black;
    /* color: #1fc001; */
    color: #76c442;
    /* color: #92cc41; */

    /* font-size: 5px; */
}